html
  head
    title!= Memberships
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    h1!= message
<<<<<<< HEAD
    a(href="/log_in") Log In
=======
    a(href="/log_in") Log in

    a(href="/sign_up") Sign up
>>>>>>> 95cbb2a19f2fd5c7cbc67c582ad8fb69078580cf
